<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>채팅</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
</head>
<body>
<h1>1:1 채팅</h1>
<div id="chatRoomList">
    <ul>
        <li th:each="chatRoom : ${loginUserChatRoomList}" th:text="test"
            onclick="connect([[${chatRoom.id}]])"></li>
    </ul>
</div>

<div id="chatBox">
    <!-- 채팅 메시지가 이곳에 표시됩니다 -->
</div>

<input type="hidden" id="chatRoomId" th:value="1">
<input type="text" id="messageInput" placeholder="메시지를 입력하세요">
<button onclick="sendMessage()">보내기</button>


</body>
</html>