<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .login-container {
            width: 100%; /* 전체 폭 사용 */
            max-width: 400px; /* 최대 폭 설정 */
            background-color: white;
            padding: 2rem;
            border-radius: 0.5rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            align-content: center;
        }
    </style>
</head>
<body>
<div class="login-container">

    <h2 class="text-center">Login</h2>
    <form action="@{/api/auth/login}" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
    <div class="oauth-button text-center">
        <a href="/auth/naver" class="btn btn-success btn-block">Login with Naver</a>
    </div>
</div>
</body>
</html>